
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: #ffffff;
}

header {
    display:  flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    background-color: red;
    position: fixed;  /*fixed header*/
    width: 100%;
    z-index: 100;
    top: 0;
}

.navbar {
    display: block;;
}

.navlinks {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navlinks li {
    list-style: none;
    margin-left: 20px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease-in-out;
}

.navlink {
    color: white;
    font-weight: 600;
    font-size: 18px;
}

.navlinks li:hover a{
    text-decoration: underline;
}

.active {
    text-decoration: underline;
}

.active:hover li:hover {
    transform: none;
}

.logo {
    font-family: 'Great Vibes', 'Poppins', sans-serif;
    color: white;
    font-size: 2.5rem;
}

.bx-menu {
    color: white;
    font-size: 40px;
    display: none;
}

section {
    min-height: 100vh;
    padding: 20px 10%;
}

.hero {
    margin-top: 80px;
}

.img-container {
    background-image: url("../images/mac-and-cheese.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
    border: none;
    border-radius: 20px;
    box-shadow: 25px 20px 25px #929292;
    display: inline-flex;
    position: relative;
    transition: all 0.5s ease-in-out;
    animation: float 4s infinite;
}

@keyframes float {
    0% {
        top: 0;
    }

    50% {
        top: 20px;
    }

    100% {
        top: 0;
    }
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.hero-text {
    width: 80%;
    position: relative;
}

.hero-text .welcome-text {
    font-size: 2rem;
    font-family: 'Great Vibes';
    margin: 10px 0;
}

.hero-text .main-text {
    font-size: 4rem;
    margin: 15px 0;
    line-height: 1;
    text-transform: capitalize;
}

.text {
    line-height: 1.5;
    margin: 10px 0;
    
}

.cta-btn, .card-btn , .all-btn, .submit-btn{
    display: inline-flex;
    margin: 15px 0;
    border: 1px solid red;
    padding: 5px 20px;
    border-radius: 50px;
    background-color: red;
    color: white;
    font-weight: 600;
    transition: all 0.2s ease-in-out;
    font-size: 18px;
}

.cta-btn:hover, .card-btn:hover, .all-btn:hover {
    transform: scale(1.1);
    background-color: #fafafa;
    color: red;
}

.recipes {
    background-color: ivory;
    text-align: center;
}

.section-title {
    font-size: 3rem;
    font-weight: 700;
    margin: 40px auto;
    font-family: "Great Vibes",sans-serif;
    text-align: center;
}

.recipes .section-text {
    line-height: 1.5;
    margin: 10px 0 35px 0;
}

.recipes .cards {
    display: flex;
}

.card {
    padding: 15px;
    background-color: #fff;
    margin: 10px 15px;
    border-radius: 15px;
    border: none;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease-in-out;
}

.card:hover {
    border: 2px solid red;
}

.cards .card img {
    width: 350px;
    height: 350px;
    border-radius: 15px;

}

.card .card-title {
    font-size: 1.5rem;
    margin: 10px;
    text-transform: uppercase;
}

.card .card-text {
    line-height: 1.5;
    text-align: justify;
    padding: 20px;

}

.all-btn {
    margin-top: 40px;
}

.contact h4 {
    font-size: 3rem;
    font-family: "Great Vibes", sans-serif;
    text-align: center;
    margin: 40px auto;
}
.contact .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.contact .container .contact-info p{
    font-size: 20px;
    font-weight: 500;
    text-align: justify;
    margin: 20px 0;
}

.contact .container .contact-info p i {
    margin: 0 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 20px;
    text-align: justify;
}
.contact .container .divider {
    border-bottom: 2px solid #ff9797;
}

.contact .container a i {
    font-size: 25px;
    margin: 10px;
    color: red;
    border-radius: 5px;
    border: 0;
    transition: all 0.1s ease;
}

.contact .container a i:hover {
    color: black;
}

.contact .container form {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.contact form .input-box {
    width: 100%;
}

.contact form .input-box input, textarea {
    border: 1px solid red;
    border-radius: 10px;
    padding: 5px 15px;
    margin: 10px 5px;
    font-size: 18px;
    text-align: justify;
}

textarea { 
    width: 98%;
    resize: none;
}

.submit-btn {
    width: 100%;
}

.submit-btn:hover {
    background-color: white;
    color: red;
}

.contact .text {
    font-size: 1.5rem;
    margin-top: 25px;
    text-align: justify;
}

footer{
    height: 50px;
    color: white;
    background-color: red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover{
    color: wheat;
}

/* .scroll-to-top a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.scroll-to-top a i{
    font-size: 20px;
    border: 2px solid white;
    background-color: white;
    color: red;
    border-radius: 50px;
    padding: 3px;
    margin: 0 5px 0 0;
}

.scroll-to-top a i:hover{
    background-color: red;
    color: white;
} */

/* Caprese */
.about-recipes {
    min-height: 10vh;
    background-color: red;
    margin: 40px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.prep-time {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.prep-time p {
    font-size: 20px;
    color: white;
    font-weight: 600;
    text-align: center;
}

.prep-time .divider {
    border: none;
    border-left: 3px solid white;
    height: 20px;
    margin: 20px;
}

.caprese-img-container {
    background-image: url("../images/Caprese_Appetizer.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
    border: none;
    border-radius: 20px;
    box-shadow: 25px 20px 25px #929292;
    display: inline-flex;
    position: relative;
}

.img-container-appetizer {
    background-image: url("../images/CapreseAppetizer-ingredients.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
    border: none;
    border-radius: 20px;
    box-shadow: 25px 20px 25px #929292;
    display: inline-flex;
    position: relative;
}

.ingredients .container {
    display: grid;
    grid-template-columns: 1, 1fr;
    gap: 5rem;
}

.ingredients .ingredient-table {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.ingredient-table .table {
    margin: 20px;
    border: 3px solid red;
    border-radius: 10px;
    box-shadow: 25px 20px 25px #929292;
}

.ingredient-table .table ul{
    border-top: 2px solid red;
    padding: 20px 10px;
}

.ingredient-table .table .table-title{
    padding: 10px;
    text-align: center;
    background-color: red;
    color: white;
}

.ingredient-table .table ul li{
    padding: 10px 20px 10px 0;
    text-align: left;
    margin-left: 20px;
}

.ingredients {
    margin-bottom: 60px;
}

.directions{
    background-color: #ffffff;
    min-height: 110vh;
}

.directions .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.directions .container .img-container-direction {
    background-image: url("../images/CapreseAppetize-direction.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 80%;
    height: 500px;
    border: none;
    border-radius: 20px;
    box-shadow: 25px 20px 25px #d6d6d6;
    margin-right: 30px;
}

.directions .container .steps {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 50px;
}

.directions .container .steps .step{
    display: inline-flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin: 20px;
    padding: 20px 10%;
    border-bottom: 2px solid #e4e4e4;
    width: 100%;
}

.nutrition .container .steps {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nutrition .container .steps .step {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
    padding: 20px 10%;
    border-right: 2px solid #e4e4e4;
    border-left: 2px solid #e4e4e4;
    width: 100%;
}

.directions .container .steps .step h4, .nutrition .container .steps .step  h4 {
    font-size: 20px;
    text-transform: uppercase;
}

.directions .container .steps .step p, .nutrition .container .steps .step p{
    font-size: 18px;
    text-align: justify;
}

.nutrition {
    min-height: 50vh;
    background-color: ivory;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 100px 0;
}

.nutrition span {
    font-size: 12px;
    font-style: italic;
}

.hummus-img-container {
    background-image: url("../images/hummus1.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 80%;
    height: 500px;
    border: none;
    border-radius: 20px;
    box-shadow: 25px 20px 25px #d6d6d6;

}

.img-container-hummus {
    background-image: url("../images/hummus2.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
    border: none;
    border-radius: 20px;
    box-shadow: 25px 20px 25px #d6d6d6;

}

.img-container-direction-hummus {
    background-image: url("../images/hummus3.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 80%;
    height: 500px;
    border: none;
    border-radius: 20px;
    box-shadow: 25px 20px 25px #d6d6d6;
    margin-right: 30px;
}

.salsa-img-container {
    background-image: url("../images/salsa1.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 80%;
    height: 500px;
    border: none;
    border-radius: 20px;
    box-shadow: 25px 20px 25px #d6d6d6;
}

.img-container-salsa {
    background-image: url("../images/salsa2.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
    border: none;
    border-radius: 20px;
    box-shadow: 25px 20px 25px #d6d6d6;
    margin-right: 30px;
}

.img-container-direction-salsa {
    background-image: url("../images/salsa3.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 80%;
    height: 500px;
    border: none;
    border-radius: 20px;
    box-shadow: 25px 20px 25px #d6d6d6;
    margin-right: 30px;
}

.right-padding {
    padding-right: 20px;
}

/* Media Queries */
@media (max-width: 780px) {
    *{
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .navbar {
        display: none;
    }

    .bx-menu {
        display: block;
    }

    .hero {
        padding-bottom: 0;
        min-height: 90vh;
    }

    .about-recipes {
        margin: 0;
    }
    .hero-text .welcome-text {
        font-size: 1.5rem;
    }

    .hero-text .main-text {
        font-size: 2.5rem;
    }

    .hero-text .text {
        font-size: 16px;
        text-align: center;
        padding: 0;
    }

    .recipes {
        margin-top: 40px;
    }

    .recipes .cards .card img {
        width: 250px;
        height: 250px;
    }
    .recipes .cards .card .card-text {
        text-align: center;
    }

    .contact .container{
        justify-content: center;
        flex-direction: column-reverse;
        align-items: center;
    }

    .divider {
        margin: 30px 0;
    }

    form input, textarea{
        width: 100%;
    }

    footer {
        height: 100px;
        justify-content: center;
    }
    .prep-time {
        align-items: center;
        justify-content: center;
    }

    .prep-time p {
        font-size: 20px;
        color: white;
        font-weight: 600;
        text-align: center;
        margin: 0 10px;
    }

    .prep-time .divider {
        display: none;
    }

    .ingredients .ingredient-table {
        justify-content: center;
        align-items: center;
    }

    .directions {
        padding-bottom: 60px;
    }
    .directions .container {
        flex-direction: column-reverse;
    }

    .directions .container .steps {
        margin: 20px 0;
    }

    .directions .container .img-container-direction {
        margin: 0;
    }

    .cta-btn{
        margin-bottom: 30px;
    }
}

@media (max-width: 430px) {
    .hero {
        min-height: 90vh;
    }

    .about-recipes {
        margin-top: 60px;
    }
}
